# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
venv/
env/
.Python
*.sqlite3

# Bun (Node.js)
node_modules/
bun.lockb
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Docker
**/.dockerignore
docker-compose.override.yml
*.log
.docker/
docker-compose.log
docker-compose*.env
docker-volume/

# PostgreSQL
*.sql
*.pgsql
*.db
pgdata/

# Git
!.gitignore
.git/
*.swp
*~

# System-specific
.DS_Store
Thumbs.db

# Environment variable files
.env
.env.local
.env.*.local
