# TODO: add explanation of values to populate.

# OAuth
# See Mongoose repo for explanation
OIDC_DISCOVERY_URL=
OIDC_REDIRECT_URI="http://localhost:8000/callback"
#OIDC_CLIENT_ID=
#OIDC_CLIENT_SECRET=

# database
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=