# OAUTH
#see mongoose repo for explanation
OIDC_REDIRECT_URI="http://localhost:8000/callback"
OIDC_OP_AUTHORIZATION_URL=""
OIDC_OP_TOKEN_URL=""
OIDC_USERINFO_URL=""
#OIDC_CLIENT_ID=your_id
#OIDC_CLIENT_SECRET=very secret yes yes

# database
POSTGRES_PASSWORD=your_password_here
POSTGRES_USER=postgres
POSTGRES_DB=your_database_name